---
- name: Use Repos Template
  template: src=opentlc.repo dest=/etc/yum.repos.d

- name: Add Public DNS to resolv.conf
  lineinfile:
     path: /etc/resolv.conf
     state: present
     insertafter: 'search openstacklocal localdomain'
     line: 'nameserver 8.8.8.8'
